/* crates/mdbook-svg-inline-preprocessor/src/renderer.rs */
:host {
    width: 100%;
    height: calc(100% - 40px); /* TODO handle header height better */
}

:host svg {
    width: 100%;
    height: 100%;
    border: 1px solid var(--fg)
}

:host svg.svg-can-zoom {
    border: 1px solid var(--links)
}
