@import url('tabbyjs/dist/css/tabby-ui.css');

:root {
    --svg-width: calc(50% + var(--content-max-width));
}

/* crates/mdbook-svg-inline-preprocessor/src/renderer.rs */
.svg-container {
    display: flex;
    justify-content: center;
}

.svg-container > div {
    flex-shrink: 0;
    width: var(--svg-width);
    height: var(--content-max-width);
}

.svg-content {
    width: 100%;
    height: 100%;
}
